.choice-container {
    display: Flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgba(247, 245, 246, 0.25);
    background-color: rgb(90, 52, 102);
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 black;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}
.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: rgb(90, 52, 102);
    color:white;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
    color: white;
}

.correct {
    background-color: #24a745;

}

.incorrect {
    background-color: #dc3545;
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 3rem;
}

.hud-main-text {
    text-align: center;
}